.hw {
    width: 100vw;
}

.ilw {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    border-radius: 4px;
}

.img {
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 170px;
    height: 140px;
}

.siw {
    margin-top: 50px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.si {
    z-index: 1;
    width: 600px;
    height: 400px;
}