div#root {
    padding: 0;
}

.header {
    border: 1px solid rgb(197, 193, 197);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.logo_wrapper p {
    margin: 0;
}

.logo {
    /* border: 1px solid black; */
}

.nav_right_links {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    /* border: 1px solid red; */
}

.anchors {
    text-decoration: none;
    transition: all 0.3;
    color: black;
}

.anchors:hover {
    opacity: 0.5;
}

