

body {
    padding: 0;
    margin: 0;
    background-color: #181C14;
}

div#root {
    padding: 0;
}

.header {
    /* border: 1px solid purple; */
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #161515;
}

.nav_right_links {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    /* border: 1px solid red; */
}

.anchors {
    text-decoration: none;
    color: purple;
}

.anchors:hover {
    opacity: 0.5;
}

