div#root {
    padding: 0;
}

.header {
    border: 1px solid rgb(197, 193, 197);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.logo_wrapper p {
    margin: 0;
}

.logo {
    /* border: 1px solid black; */
}

.nav_right_links {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.anchors {
    padding: 8px;
    text-decoration: none;
    transition: all 0.3;
    color: #B24B63;
}

.anchors:hover {
    border-bottom: 1px solid red;
    opacity: 0.5;
}

