.showcase_wrapper {
    width: 100vw;
    /* display: flex; */
    /* justify-content: space-around; */
}

.images_list_wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 250px; */
    z-index: 1;
    border: 1px solid rgb(190, 24, 24);
    border-radius: 4px;
    /* padding: 12px; */
}

.images_list {
}

.image {
    /* border: 1px solid rgb(160, 160, 20); */
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 170px;
    height: 140px;
}

.select_image_wrapper {
    margin-top: 50px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.select_image {
    width: 600px;
    height: 400px;
    box-shadow: 2px 2px 2px red;
    /* border: 1px solid orange; */
}