div#root {
    padding: 0;
}

.hw {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hlw {
    display: flex;
    align-items: center;
}

.hlw p {
    margin: 0;
}

.nrl {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.nrl a {
    padding: 8px;
    text-decoration: none;
    transition: all 0.3;
}

.nrl a:hover {
    opacity: 0.5;
}

