.hdw {
    position: sticky;
    top: 0;
}

.hdiw {
    border: 1px solid red;
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}


.hdlw {
    display: flex;
    align-items: center;
}

.hdlw p {
    margin: 0;
}

.nrl {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.nrl a {
    padding: 8px;
    text-decoration: none;
    transition: all 0.3;
}

.nrl a:hover {
    opacity: 0.5;
}

