.hdw {
    position: sticky;
    top: 0;
    background-color: var(--primary);
}

.hdiw {
    /* border: 1px solid red; */
    max-width: 1300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hdlw {
    display: flex;
    align-items: center;
}

.hdlw p {
    margin: 0;
}

